<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <img src="./images/dfb.jpeg" alt="Disney Food Blog Logo">
            <p class="lead">Disney news coming your way for the team at Disney Food Blog!</p>
            <p class="info">Click a story title to view and add comments.</p>
            <p class="info">Click the link to view the article on Disney Food Blogs site.</p>
        </div>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>